/* navbar */
.navbar{
    width: 100vw;
}
#navbar .nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-color: var(--white);
}
.unorderedList{
    display: flex;
}

.unorderedList .listItem{
    padding:  0 2rem;
}

.listItemAhref{
    color: var(--gray);
    font-weight: 500;
    padding-bottom: 5px;
}

.listItemAhref:hover{
    border-bottom: 3px solid var(--oranged);
}

.authUser{
    display: flex;
    align-items: center;
}

.toNameUser{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.logout{
    color: var(--oranged);
    font-weight: 500;
    font-size: 13px;
    border-bottom: 3px solid var(--oranged);
    width: 5vw;
    padding:3px 0;
    cursor: pointer;
}

/* banner */
.banner{
    background-color: var(--oranged);
    height: 15vh;
    padding-top: 10vh;
}

/* main */
#main{
    margin-top: -15vh;
    height:30vh;
}

.content{
    background-color: var(--white);
    margin: auto;
    width: 75vw;
    text-align: center;
    padding-top: 15vh;
    height: 70vh;
    border: 0;
    border-radius: 5px;
}

.cards{
    display: flex;
    justify-content: center;

}

.card{
    height: 25vh;
    width: 17vw;
    background:rgb(185, 185, 185);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(185, 185, 185) 250%);
    margin: 5rem 3rem;
    padding-top:5rem;
    border: 3px solid rgba(194, 189, 189, 0.205);
    border-radius: 15px;
    box-shadow: 0px 2px 3px 2px rgba(194, 189, 189, 0.205);
    cursor: pointer;
}



/* footer */
#footer{
    bottom: 0;
    margin-top: 60vh;
    /* position: absolute; */
    background-color: var(--black);
    color: white;
    text-align: center;
    height: 7vh;
    width: 100%;
    padding-top: 3vh;
}

.ahrefToPageIdeia{
    color: var(--oranged);
    font-weight: 500;
    cursor: pointer;

}


@media (min-width: 1440px)  { 
    #navbar .nav{
        background-color: red;
    }
    .content{
        width: 80vw;
    }
}


@media (min-width: 1024px) and (max-width:1440px) { 
    body{
        background-color: tomato;
    }
}

@media (min-width: 1200px) and (max-width:768px) { 
    body{
        background-color: blue;
    }
}


@media (min-width: 425px) and (max-width:768px) { 
    body{
        background-color: gray;
    }
}



@media (min-width: 375px) and (max-width:425px) { 
    body{
        background-color: purple;
    }
}
